/* clear floated elements */
.clr {clear:both; height:1px; font-size:1px; line-height:1px;}

@media print {
    #instructions {
        display: none;
    }

    .main, .monograph {
        page-break-after: always;
    }
}

form {
    float: left;
    margin-right: 20px;
}

select {
    display: block;
    font-size: 20px;
}

button {
    font-size: 20px;
}

img {
    float: right;
}

table {
    margin: 0 auto;
}
